.form-group {
    margin-top:100px;
    margin-bottom: 1rem;
    margin-left: 10%;
    width: 80%;
}

input.btn.btn-primary {
    float: right;
    margin-right: 10%;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0!important;
    margin-left: 0!important;
    width: 100%!important;
    min-width: -webkit-fill-available;
  }

h1{
    padding:10px;
    margin-left: 5%;
    margin-top:100px;
}

.List{
    padding:10px;
}